<div class="container main-container">
    <h4>Demo Cadastro</h4>
    <hr />
    <form novalidade (ngSubmit)="adicionarUsuario()" [formGroup]="cadastroForm">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="" class="col-md-2 control-label" for="nome">Nome</label>
                <div class="col-md-10">
                    <input class="form-control" 
                    type="text" 
                    id="nome" 
                    placeholder="Nome (Requerido)" 
                    formControlName="nome" 
                    [ngClass]="{'is-invalid': cadastroForm.get('nome').errors && (cadastroForm.get('nome').dirty || cadastroForm.get('nome').touched) }" />
                    
                    <span class="text-danger" *ngIf="cadastroForm.get('nome').errors && (cadastroForm.get('nome').dirty || cadastroForm.get('nome').touched)" >
                        <p>Preencha o campo nome</p>
                    </span>
                </div>
            </div>
            
            <div class="form-group">
                <label for="" class="col-md-2 control-label" for="cpf">CPF</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" id="cpf" placeholder="CPF (Requerido)" formControlName="cpf" cpf [textMask]="{ mask: MASKS.cpf.textMask }"/>
                    <span class="text-danger" *ngIf="cadastroForm.get('cpf')?.errors && (cadastroForm.get('cpf')?.dirty || cadastroForm.get('cpf')?.touched)" >
                        <p>CPF inválido</p>
                    </span>
                </div>
            </div>            

            <div class="form-group">
                <label for="" class="col-md-2 control-label" for="email">Email</label>
                <div class="col-md-10">
                    <input class="form-control" 
                    type="text" 
                    id="email" 
                    placeholder="Email (Requerido)" 
                    formControlName="email" 
                    [ngClass]="{'is-invalid': cadastroForm.get('email').errors && (cadastroForm.get('email').dirty || cadastroForm.get('email').touched) }" />
                    <span class="text-danger" *ngIf="cadastroForm.get('email')?.errors?.required && (cadastroForm.get('email').dirty || cadastroForm.get('email').touched)" >
                        <p>Preencha o campo email</p>
                    </span>
                    <span class="text-danger" *ngIf="cadastroForm.get('email')?.errors?.email && (cadastroForm.get('email').dirty || cadastroForm.get('email').touched)" >
                        <p>Email em formato inválido</p>
                    </span>
                </div>
            </div>
            
            <div class="form-group">
                <label for="" class="col-md-2 control-label" for="senha">Senha</label>
                <div class="col-md-10">
                    <input class="form-control" type="password" id="senha" placeholder="Senha (Requerido)" formControlName="senha" />
                    <span class="text-danger" *ngIf="cadastroForm.get('senha')?.errors?.rangeLength && (cadastroForm.get('senha')?.dirty || cadastroForm.get('senha')?.touched)" >
                        <p>Tamanho inválido</p>
                    </span>
                </div>
            </div>
            
            <div class="form-group">
                <label for="" class="col-md-2 control-label" for="senhaConfirmacao">Confirme a Senha</label>
                <div class="col-md-10">
                    <input class="form-control" type="password" id="senhaConfirmacao" placeholder="Confirmar Senha (Requerido)" formControlName="senhaConfirmacao" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <span><button class="btn btn-success" id="registrar" type="submit" [disabled]="!cadastroForm.valid" >Registrar</button></span>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <p>Formulário Valido: {{ cadastroForm.valid }}</p>
                    <p>Formulário Tocado: {{ cadastroForm.touched }}</p>
                    <p>Formulário Sujo: {{ cadastroForm.dirty }}</p>
                    <p>Formulário: {{ formResult }}</p>
                </div>
            </div>
        </div>
    </form>
</div>
